//font-family: 'Playfair Display', serif;
$font-art-color:#564D49;
$font-color-nav: #FBFAF8;
$font-color-art:#CBAB8D;
.bread-image{
    position: absolute;
    top: calc(90vh - 38px);
    left: calc(50% - 50px);
    box-sizing: border-box;
    
    img{
        border-radius: 50%;
        border: 2px dashed $font-color-art;
        padding: 10px
        
    }
}
.article-one{
    background-image: url(/img/article-one-bg.png);
    display: flex;
    height: 70vh;
    padding: 7% 15% 0 10%;
    .article-one-text{
        font-family: 'Raleway', sans-serif;
        color: $font-art-color;
        text-align: center;
        h3{
            font-family: 'Parisienne', cursive;
            font-size: 4em;
        }
        p{
            font-family: 'Playfair Display', serif;
        }
        p:nth-of-type(1){
            font-size: 1.3em;
            text-transform: uppercase;
            color: $font-color-art;
            letter-spacing: 2px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        p:nth-of-type(2){
            line-height: 35px;
            margin: 0 150px 50px 100px;
            font-size: 1.2em;
        }
        h4{
            font-family: 'Parisienne', cursive;
            font-size: 2.5em;
        }
        .chef-photo{
            position: relative;
            top: -5%;
            span{
                border-top: 1px solid $font-color-art;
                border-bottom: 1px solid $font-color-art;
                margin: 10px 10px;
                padding: 10px 10px;
                font-family: 'Playfair Display', serif;
                font-size: 1.3em;
                letter-spacing: 2px;
            }
            img{
                padding: 0 30px;
                max-width:150px;
                border-radius: 50%;
                transform: translateY(50%);
            }
        }
        q{
            position: relative;
            font-family: 'Parisienne', cursive;
            font-size: 2.5em;
            top: 80px;
            letter-spacing: 2px;
        }
    }
    .article-one-image{
        img{
            position: relative;
            width: 750px;
            top: 5%;
        }
    }
}
@media(max-width:1960px){
    .article-one{
        .article-one-image{
            img{
                width: 650px;
                left: 80px;
            }
        }
    }
}
@media(max-width:1440px){
    .article-one{
        .article-one-text{
            p:nth-of-type(2){
                margin: 0 100px 50px 100px;
                font-size: 1.3em;
            }
        }
        .article-one-image{
            img{
                width: 450px;
                top: 20%;
            }
        }
    }
}
@media(max-width:1366px) and (orientation:landscape){
    .article-one{
        height: 85vh;
        .article-one-text{
            flex-basis: 60%;
            margin-top: 40px;
            h3{
                font-size:3em;
            }
            p:nth-of-type(2){
                margin: 0 50px 50px 50px;
                font-size: 1.2em;
            }
        }
        .article-one-image{
            flex-basis:40%;
            img{
                width: 550px;
                top: 20%;
                // left:
            }
        }
    }
}
@media(max-width:1024px){
    .article-one{
        padding:0;
        height: 110vh;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        .article-one-text{
            margin-bottom: 5%;
            h3{
                font-size: 5em;
            }
            p:nth-of-type(1){
                font-size: 1.6em;
            }
            p:nth-of-type(2){
                margin: 0 100px 50px 100px;
                font-size: 1.6em;
                line-height: 50px;
            }
        }
        .article-one-image{
            img{
                width: 550px;
                left: calc(50% - 260px);
                // transform: translateX(-50%);
                top:30px;
                margin-bottom: 5%;
            }
        }
    }
}
@media(max-width:1024px) and (orientation:landscape){
    .article-one{
        height: 140vh;
        .article-one-text{
            h3{
                font-size: 2.5em;
            }
            p:nth-of-type(1){
                font-size: 1em;
            }
            p:nth-of-type(2){
                margin: 0 140px 50px 140px;
                font-size: 1em;
                line-height: 35px;
                letter-spacing: 1.5px;
            }
            h4{
                font-size: 2em;
            }
            .chef-photo{
                span{
                    font-size: 1.1em;
                    letter-spacing: 2px;
                }
                img{
                    max-width:100px;
                }
            }
            q{
                font-size: 1.7em;
                top:50px;
            }
        }
        .article-one-image{
            img{
                width: 450px;
                left: calc(50% - 225px);
                // transform: translateX(-50%);
                top:70px;
                margin-bottom: 5%;
            }
        }
    }
}
@media(max-width:830px) and (orientation:landscape){
    .article-one{
        height: 950px;
        .article-one-text{
            p:nth-of-type(2){
                margin: 0 140px 30px 140px;
            }
        }
        .article-one-image{
            img{
                width:300px;
                left: calc(50% - 150px);
                margin-bottom: 0;
            }
        }
    }
}
@media(max-width:736px) and (orientation:landscape){
    .article-one{
        height: 1000px;
        .article-one-text{
            margin-top:10px;
        }
    }
}
@media(max-width:768px) and (orientation:portrait){
    .article-one{
        height: 1450px;
        .article-one-text{
            margin-bottom: 5%;
            h3{
                font-size: 3.5em;
            }
            p:nth-of-type(1){
                font-size: 1.2em;
            }
            p:nth-of-type(2){
                font-size: 1.3em;
                line-height: 45px;
                letter-spacing: 1.5px;
            }
        }
        .article-one-image{
            img{
                width: 550px;
                left: calc(50% - 275px);
                top:30px;
                margin-bottom: 5%;
            }
        }
    }
}
@media(max-width:568px) and (orientation:landscape){
    .article-one{
        height: 950px;
        .article-one-text{
            margin-bottom: 0;
            h3{
                font-size: 2.2em;
            }
            p{
                margin: 0 30px 0 30px;
            }
            p:nth-of-type(1){
                font-size: 1.2em;
            }
            p:nth-of-type(2){
                margin: 0 30px 50px 30px;
                font-size: 1em;
                line-height: 30px;
                letter-spacing: 1.5px;
            }
            h4{
                font-size: 2em;
            }
            .chef-photo{
                span{
                    font-size: 1.1em;
                    letter-spacing: 2px;
                    margin: 0;
                }
                img{
                    max-width:100px;
                    padding:0;
                }
            }
            q{
                font-size: 1.7em;
                top:50px;
            }
        }
        .article-one-image{
            img{
                width: 300px;
                left: calc(50% - 150px);
            }
        }
    }
}
@media(max-width:414px) and (orientation:portrait){
    .article-one{
        height: 1100px;
        .article-one-text{
            margin-bottom: 0;
            h3{
                font-size: 2.2em;
            }
            p{
                margin: 0 30px 0 30px;
            }
            p:nth-of-type(1){
                font-size: 1.2em;
            }
            p:nth-of-type(2){
                margin: 0 30px 50px 30px;
                font-size: 1em;
                line-height: 30px;
                letter-spacing: 1.5px;
            }
            h4{
                font-size: 2em;
            }
            .chef-photo{
                span{
                    font-size: 1.1em;
                    letter-spacing: 2px;
                    margin: 0;
                }
                img{
                    max-width:100px;
                    padding:0;
                }
            }
            q{
                font-size: 1.7em;
                top:50px;
            }
        }
        .article-one-image{
            img{
                width: 300px;
                left: calc(50% - 150px);
            }
        }
    }
}
@media(max-width:375px) and (orientation:portrait){
    .article-one{
        height:1150px;
    }
}
@media(max-width:320px) and (orientation:portrait){
    .article-one{
        height:1100px;
        .article-one-text{
            .chef-photo{
                span{
                    font-size: 1em;
                    letter-spacing: 2px;
                }
                img{
                    max-width:70px;
                }
            }
            q{
                font-size: 1.7em;
                top:20px;
            }
        }
        .article-one-image{
            img{
                width: 270px;
                left: calc(50% - 135px);
            }
        }
    }
}