$font-art-color:#564D49;
$font-color-nav: #FBFAF8;
$font-color-art:#CBAB8D;
.article-two{
    background-image: url(/img/3236952.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 1200px;
    .article-two-container{
        position: relative;
        background-image: url(/img/article-two-container-bg.png);
        height: 800px;
        width:1800px;
        left: calc(50% - 900px);
        top: calc(50% - 400px);
        display: flex;
        // transform: translateX(-50%);
        .container-two-image{
            img{
                height:800px;
            }
        }
        .container-two-text{
            padding: 70px 50px 20px 50px;
            display: flex;
            flex-direction: column;
            h3{
                font-family: 'Parisienne', cursive;
                font-size: 4em;
                color: $font-art-color;
                text-align: center;
            }
            p{
                text-align: center;
                font-family: 'Playfair Display', serif;
            }
            p:nth-of-type(1){
                font-size: 1.3em;
                text-transform: uppercase;
                color: $font-color-art;
                letter-spacing: 2px;
                font-weight: 700;
                margin-bottom: 50px;
            }
            p:nth-of-type(2){
                line-height: 45px;
                margin: 0 150px 50px 100px;
                font-size: 1.5em;
                color: $font-art-color;
            }
            .slider{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-top: 110px;
                align-content: flex-end;
                img{
                    width: 200px;
                    border-radius: 50%;
                }
            }
        }
    }
    
}

@media(max-width:1960px){
    .article-two{
        .article-two-container{
            width: 1500px;
            left: calc(50% - 750px);
            .container-two-text{
                p:nth-of-type(2){
                    line-height: 45px;
                    margin: 0 50px 50px 50px;
                    font-size: 1.5em;
                }
                .slider{
                    margin-top: 70px;
                    img{
                        width:150px;
                    }
                }
            }
        }
    }
}
@media(max-width:1600px){
    .article-two{
        height:900px;
        .article-two-container{
            width: 1200px;
            height:600px;
            top: calc(50% - 300px);
            left: calc(50% - 600px);
            .container-two-image{
                img{
                    height:600px;
                }
            }
            .container-two-text{
                padding: 30px 50px 20px 50px;
                p:nth-of-type(2){
                    line-height: 45px;
                    margin: 0 50px 50px 50px;
                    font-size: 1.5em;
                }
                .slider{
                    margin-top: -40px;
                    img{
                        width:100px;
                    }
                }
            }
        }
    }
}
@media(max-width:1230px){
    .article-two{
        .article-two-container{
            width: 1000px;
            height:400px;
            top: calc(50% - 300px);
            left: calc(50% - 500px);
            .container-two-image{
                img{
                    height:400px;
                }
            }
            .container-two-text{
                padding: 10px 50px 20px 50px;
                h3{
                    font-size: 2.5em;
                }
                p:nth-of-type(2){
                    font-size: 1.2em;
                }
                .slider{
                    display: none;
                }
            }
        }
    }
}
@media(max-width:1024px) and (orientation:portrait){
    .article-two{
        height: 1300px;
        background-image: url(/img/article-two-container-bg.png);
        background-repeat: repeat;
        .article-two-container{
            background-image: none;
            flex-direction: column;
            width: auto;
            height:auto;
             top: 5%;
            left:0;
            
            .container-two-image{
                align-self: center;
                img{
                    height:450px;
                }
            }
            .container-two-text{
                padding: 60px 50px 20px 50px;
                h3{
                    font-size: 5em;
                }
                p:nth-of-type(1){
                    font-size: 1.6em;
                }
                p:nth-of-type(2){
                margin: 0 100px 50px 100px;
                font-size: 1.6em;
                line-height: 50px;
                }
                .slider{
                    align-self: center;
                    display:block;
                    margin-top: 30px;
                    img{
                        width:150px;
                        padding: 0 30px;
                    }
                }
            }
        }
    }
}
@media(max-width:1366px) and (orientation:landscape){
    .article-two{
        height: 650px;
        .article-two-container{
            width: 1000px;
            height:400px;
            top: calc(50% - 200px);
            left: calc(50% - 500px);
            .container-two-image{
                img{
                    height:400px;
                }
            }
            .container-two-text{
                padding: 10px 50px 20px 50px;
                h3{
                    font-size:3em;
                }
                p:nth-of-type(2){
                    font-size: 1.2em;
                    margin: 0 50px 0px 50px;
                }
                .slider{
                    display: none;
                }
            }
        }
    }
}
@media(max-width:768px) and (orientation:portrait){
    .article-two{
        .article-two-container{
            .container-two-text{
                h3{
                    font-size: 3.5em;
                }
                p:nth-of-type(1){
                    font-size: 1.2em;
                }
                p:nth-of-type(2){
                    font-size: 1.3em;
                    line-height: 45px;
                    letter-spacing: 1.5px;
                }
            }
        }
    }
}
@media(max-width:414px) and (orientation:portrait){
    .article-two{
        height:850px;
        .article-two-container{
            .container-two-image{
                img{
                    height:250px;
                }
            }
            .container-two-text{
                padding:30px 20px 20px 20px;
                h3{
                    font-size: 2.2em;
                }
                p{
                    margin: 0 30px 0 30px;
                }
                p:nth-of-type(1){
                    font-size: 1.2em;
                }
                p:nth-of-type(2){
                    margin: 0 30px 50px 30px;
                    font-size: 1em;
                    line-height: 30px;
                    letter-spacing: 1.5px;
                }
                .slider{
                    margin-top:5px;
                    img{
                        width: 80px;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}
@media(max-width:830px) and (orientation:landscape){
    .article-two{
        height: 950px;
        background-image: url(/img/article-two-container-bg.png);
        background-repeat: repeat;
        .article-two-container{
            background-image: none;
            flex-direction: column;
            width: auto;
            height:auto;
            top: 5%;
            left:0;
            .container-two-image{
                align-self: center;
                img{
                    height:300px;
                }
            }
            .container-two-text{
                padding: 60px 50px 20px 50px;
                h3{
                    font-size: 2.5em;
                }
                p:nth-of-type(1){
                    font-size: 1em;
                }
                p:nth-of-type(2){
                margin: 0 100px 20px 100px;
                font-size: 1em;
                line-height: 35px;
                letter-spacing: 1.5px;
                }
                .slider{
                    align-self: center;
                    display:block;
                    margin-top: 30px;
                    img{
                        width:100px;
                        padding: 0 15px;
                        margin-top:0px;
                    }
                }
            }
        }
    }
}
@media(max-width:375px) and (orientation: portrait){
    .article-two{
        height:900px;
    }
}
@media(max-width:640px) and (orientation: landscape){
    .article-two{
        height:1050px;
    }
}