// font-family: 'Raleway', sans-serif;
// font-family: 'Source Serif Pro', serif;
$font-color-nav: #FBFAF8;
.main{
    height:90vh;
    background-image: url(/img/breads.png);
    background-size: cover;//100% auto;
    background-repeat: no-repeat;
    color: $font-color-nav;
    h1{
        position: relative;
        text-align: center;
        width: 50%;
        top: 25%;
        left:25%;
        color: $font-color-nav;
        font-family: 'Source Serif Pro', serif;
        font-size: 7em;
        letter-spacing: 3px;
        font-weight: 400;
        text-shadow: 6px -1px 11px rgba(0,0,0,0.5);
    }
    h2{
        font-family: 'Raleway', sans-serif;
        font-size: 2.7em;
        font-weight: 400;
        position: relative;
        top: 40%;
        width:50%;
        left: 25%;
        letter-spacing: 3px;
        text-align: center;
        line-height: 70px;
        text-shadow: 6px -1px 11px rgba(0,0,0,0.5);
    }
    #menu-btn{
        position: relative;
        display: block;
        font-family: 'Raleway', sans-serif;
        width: 400px;
        height: 70px;
        font-size: 1.5em;
        top: 45%;
        left: calc(50% - 200px);
        color:#fff;
        background-color: rgba(0,0,0,0.4);
        border: 1px dashed $font-color-nav;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s ease;
    }
    #menu-btn:hover{
        background-color: rgba(0,0,0,0.8);
        color: darken($font-color-nav, 30%);
    }
}
@media(max-width:1440px){
    .main{
        h1{
            font-size: 5em;
            top: 20%;
        }
        h2{
            top:35%;
        }
        #menu-btn{
            top:40%;
        }
    }
}
@media(max-width:1225px){
    .main{
        h1{
            font-size: 4em;
            top: 20%;
        }
        h2{
            top:30%;
        }
        #menu-btn{
            top:35%;
        }
    }
}
@media(max-width:1024px) and (orientation:landscape){
    .main{
        h2{
            top:30%;
            font-size: 2em;
            line-height: 45px;
        }
        #menu-btn{
            top:40%;
            font-size: 1.3em;
        }
    }
}
@media(max-width:768px) and (orientation:portrait){
    .main{
        h1{
            font-size: 4em;
            top: 20%;
        }
        h2{
            font-size: 1.5em;
            top:30%;
            line-height: 40px;
        }
        #menu-btn{
            top:55%;
            font-size: 1.2em;
        }
    }
}
@media(max-width:414px){
    .main{
        h1{
            font-size: 3em;
            width: 70%;
            left: calc(50% - 35%);
            top: 18%;
        }
        h2{
            font-size: 1em;
            top:30%;
            line-height: 30px;
            width: 70%;
            left: calc(50% - 35%);
        }
        #menu-btn{
            top:45%;
        }
    }
}
@media(max-width:320px){
    .main{
        #menu-btn{
            top:35%;
        }
    }
}
 
