// font-family: 'Parisienne', cursive;
$font-color-nav: #FBFAF8;

*{
    padding:0;
    margin:0;
}

.bgc{
    display: none;
    position: absolute;
    height: 90vh;
    width:100vw;
    top:10vh;
    background-color: #000;
    opacity: 0.6;
    transition: 0.3s ease;
    z-index: 98;
}
.bgc.active{
    display: block;
}
.navigation{
    position: fixed;
    display: flex;
    color: $font-color-nav;
    background-color: rgba(0,0,0,0.4);
    height: 10vh;
    width:100%;
    align-items: center;
    z-index: 99;
    margin:auto;
    left:0;
    right:0;
    .logo{
        font-family: 'Parisienne', cursive;
        flex-basis: 20%;
        text-align: center;
        margin-left: 70px;
        a{
            font-size: 3em;
            text-decoration: none;
            letter-spacing: 5px;
            color: $font-color-nav;
            transition: 0.4s;
            text-shadow: 6px -1px 11px rgba(0,0,0,0.5);
        }
        a:hover{
            color: darken($font-color-nav, 30%);
        }
    }
    nav{
        flex-basis: 60%;
        .top-menu{
            list-style: none;
            display: flex;
            justify-content: space-around;
            font-family: 'Raleway', sans-serif;
            
            .menu-item{
                a{
                    color: $font-color-nav;
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    padding: 10px 20px;
                    transition: 0.4s;
                    text-shadow: 6px -1px 11px rgba(0,0,0,0.5);
                }
                a:hover{
                    color: darken($font-color-nav, 30%);
                }
            }
        }

    }
    .socialmedias{
        flex-basis: 20%;
        text-align: center;
        a{
            padding: 0 10px;
            color:$font-color-nav;
            text-decoration: none;
            font-weight: 300;
            transition: 0.4s;
        }
        a:hover{
            color: darken($font-color-nav, 30%);
        }
    }
    .burger{
        display: none;
    }
}

@media(max-width:1024px){
    .navigation{
        .logo{
            margin-left: 15px;
            a{
                font-size: 2.5em;
            }
        }nav{
            .top-menu{
                .menu-item{
                    a{
                        font-size: 0.9em;
                        font-weight: 500;
                        padding:10px 10px;
                    }
                }
            }
        }
        
    }
}
@media(max-width:768px){
    .wrapper.active{
        background-color: #000;
        z-index: 99;
    }
    .navigation{
        .logo{
            margin-left: 50px;
        }
        nav{
            .top-menu{
                position: fixed;
                top: 10vh;
                right:-50vw;
                width: 50vw;
                height: 100vh;
                display: block;
                background-color: #564D49;
                transition: 0.2s ease;
                .menu-item{
                    line-height: 20px;
                    margin-top: 50px;
                    a{
                        margin-left: 30px;
                        font-size: 1.2em;
                    }
                }
            }
            .top-menu.active{
                right:0;
            }
        }
        
        .socialmedias{
            display: none;
        }
        .burger{
            display: block;
            position: absolute;
            right: 50px;
            height: 25px;
            width: 35px;
            
            z-index: 99;
            span{
                position: absolute;
                height: 4px;
                width:100%;
                background-color: $font-color-nav;
                transition: 0.3s;
            }
            span:nth-of-type(1){
                top:0;
            }
            span:nth-of-type(2){
                top: calc(50% - 4px/2);
            }
            span:nth-of-type(3){
                bottom:0;
            }
        }
        .burger.active{
            span:nth-of-type(1){
                transform: translateY(10px) rotateZ(-45deg);
            }
            span:nth-of-type(2){
                opacity:0;
            }
            span:nth-of-type(3){
                transform: translateY(-10px) rotate(45deg);
                
            }
        }   
    }
}
@media(max-width: 768px) and (orientation:landscape){
    .bgc{
        top:15vh;
    }
    .navigation{
        height:15vh;
        nav{
            .top-menu{
                top:15vh;
                .menu-item{
                    margin-top: 15px;
                }
            }
        }
    }
}
@media(max-width:568px) and (orientation:landscape){
    .bgc{
        top:20vh;
    }
    .navigation{
        height:20vh;
        .top-menu{
            top:20vh;
            .menu-item{
                margin-top: 10px;
            }
        }
    }
}
@media(max-width:425px){
    .navigation{
        nav{
            .top-menu{
                width: 60vw;
                right:-60vw;
            }
        }
    }
}
@media(max-width:375px){
    .navigation{
        .logo{
            margin-left: 25px;
            a{
                font-size: 2em;
            }
        }
        nav{
            .top-menu{
                .menu-item{
                    margin-top: 15px;
                    a{
                        margin-left:5px;
                    }
                }
            }
        }
        .burger{
            right:20px;
        }
    }
}